openapi: 3.0.3
info:
  title: SPK Service API
  description: |
    API integrasi penerbitan Surat Perintah Kerja (SPK Duelist XML -> FTP SAP) melalui WSO2 Integrator: MI.
    Sesuai standar `API_DEVELOPMENT_GUIDE.md` pada repository `wso2-mi-monorepo`.
  version: 1.0.0

servers:
  - url: https://devmiddleware1.assa.id
    description: Server Dev ASSA Gateway (HTTPS)
  - url: http://devmiddleware1.assa.id:6031
    description: Server Dev ASSA (Nginx Port 6031)
  - url: http://10.3.20.197:6031
    description: Server Dev ASSA (Nginx IP Internal)
  - url: http://localhost:8294
    description: Local Docker Compose (Direct Port 8294)

tags:
  - name: SPK
    description: Penerbitan dan validasi Surat Perintah Kerja Duelist
  - name: Health
    description: Probe liveness dan readiness container

paths:
  /api/spk/duelist:
    post:
      tags:
        - SPK
      operationId: createSpkDuelist
      summary: Menerbitkan dokumen SPK Duelist (XML over FTP)
      description: |
        Menerima data SPK (header dan baris rincian pekerjaan/parts), membentuk dokumen XML SPK,
        menyimpan data ke MariaDB, dan mengunggahnya ke server FTP Inbound SAP (`/spk`).

        **Validasi Total Harga (`X-Validate-Total`)**:
        Jika header `X-Validate-Total: true` disertakan, middleware akan memvalidasi apakah nilai `totalPrice`
        pada header sama dengan kalkulasi akumulasi `qty * price` dari semua item pada array `details`.

        **Mekanisme Idempotency**:
        Sertakan header `X-Transaction-Id` untuk mencegah duplikasi penerbitan SPK.
      security:
        - bearerAuth:
            - spk
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/TransactionId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ValidateTotal'
        - $ref: '#/components/parameters/ForwardedFor'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpkDuelistRequest'
      responses:
        '201':
          description: Dokumen SPK berhasil dibuat dan diunggah ke FTP
          headers:
            X-Transaction-Id:
              schema:
                type: string
            X-Correlation-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpkSuccessResponse'
        '200':
          description: Idempotency Replay — transaksi SPK sudah pernah diproses sebelumnya
          headers:
            X-Idempotent-Replay:
              schema:
                type: boolean
                example: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpkSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          $ref: '#/components/responses/BadGateway'

  /health/spk:
    get:
      tags:
        - Health
      operationId: getSpkHealth
      summary: Health check liveness SPK Service
      description: Memeriksa apakah service WSO2 MI hidup dan responsif.
      security: []
      responses:
        '200':
          description: Service hidup (Liveness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /readiness/spk:
    get:
      tags:
        - Health
      operationId: getSpkReadiness
      summary: Health check readiness SPK Service
      description: Memeriksa kesiapan service menerima traffic.
      security: []
      responses:
        '200':
          description: Service siap (Readiness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Masukkan Bearer Token aplikasi yang memiliki scope `spk` (misal Token QA).
        Token dibaca dari environment/secret lokal.

  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: ID korelasi unik untuk tracing log end-to-end
      schema:
        type: string
        maxLength: 128
        example: corr-spk-001
    TransactionId:
      name: X-Transaction-Id
      in: header
      required: false
      description: ID unik transaksi untuk proteksi Idempotency Guard
      schema:
        type: string
        example: SPK-TRX-20260924-001
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      description: Alias alternatif untuk X-Transaction-Id
      schema:
        type: string
        example: SPK-TRX-20260924-001
    ValidateTotal:
      name: X-Validate-Total
      in: header
      required: false
      description: Aktifkan pengecekan konsistensi totalPrice vs rincian details
      schema:
        type: boolean
        default: true
        example: true
    ForwardedFor:
      name: X-Forwarded-For
      in: header
      required: false
      description: Alamat IP client pemanggil
      schema:
        type: string
        example: 10.20.30.40

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ReadinessResponse:
      type: object
      required:
        - status
        - backend
        - timestamp
      properties:
        status:
          type: string
          example: READY
        backend:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: Bad Request
        detail:
          type: string
          example: Validation failed. Total price does not match detail items sum.
        transactionId:
          type: string
          nullable: true
          example: TRX-20260924150000001

    SpkDuelistRequest:
      type: object
      required:
        - noSpk
        - type
        - noPolisi
        - totalPrice
        - details
      properties:
        noSpk:
          type: string
          description: Nomor unik SPK
          example: SPK/2026/09/00003
        type:
          type: string
          example: Maintenance
        noPolisi:
          type: string
          example: B-2120-BKZ
        noSr:
          type: string
          example: SR-000123
        category:
          type: string
          example: Maintenance
        subCategory:
          type: string
          example: Adhoc
        vendorReferensi:
          type: string
          example: '0001'
        namaVendor:
          type: string
          example: Bengkel Jaya Motor
        picService:
          type: string
          example: PIC-001
        namaPicService:
          type: string
          example: Andi Wijaya
        spkRework:
          type: string
          example: 'No'
        totalPrice:
          type: number
          description: Total nilai biaya SPK
          example: 1850000
        createdAt:
          type: string
          example: '2026-09-17 14:46:11'
        createdBy:
          type: string
          example: atlas.user
        poSpkNumber:
          type: string
          example: PO-4500012345
        invoiceNumber:
          type: string
          example: INV_BKL_00001
        invoiceDate:
          type: string
          format: date
          example: '2026-09-17'
        invoiceAmount:
          type: number
          example: 1850000
        memo:
          type: string
          example: Perbaikan berkala kendaraan operasional
        taxInvoiceNumber:
          type: string
          example: '314650102340592'
        taxInvoiceDate:
          type: string
          format: date
          example: '2026-09-17'
        businessArea:
          type: string
          example: '1101'
        details:
          type: array
          description: Minimal 1 baris rincian pekerjaan atau suku cadang
          items:
            $ref: '#/components/schemas/SpkDetailItem'

    SpkDetailItem:
      type: object
      required:
        - jenis
        - description
        - qty
        - price
      properties:
        jenis:
          type: string
          enum: [Jasa, Parts, Sublet]
          example: Jasa
        description:
          type: string
          example: Jasa Perbaikan AC
        qty:
          type: integer
          minimum: 1
          example: 1
        price:
          type: number
          minimum: 0
          example: 150000

    SpkSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: SPK Duelist successfully delivered to FTP
        transactionId:
          type: string
          example: SPK-TRX-20260924-001
        noSpk:
          type: string
          example: SPK/2026/09/00003
        fileName:
          type: string
          example: SPK_20260924153000_SPK-TRX-20260924-001.xml

  responses:
    BadRequest:
      description: Parameter atau payload tidak valid (termasuk total price mismatch)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Token tidak ada atau salah
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Token valid tetapi tidak memiliki scope `spk`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Transaksi dengan ID ini sedang diproses (409 Conflict)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Pengunggahan file ke FTP SAP gagal setelah proses retry
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
