openapi: 3.0.3
info:
  title: Vehicle Service API
  description: |
    API integrasi data armada kendaraan (*vehicle*) ASSA dengan backend FMS/ATLAS melalui WSO2 Integrator: MI.
    Sesuai standar `API_DEVELOPMENT_GUIDE.md` pada repository `wso2-mi-monorepo`.
  version: 1.0.0

servers:
  - url: https://devmiddleware1.assa.id
    description: Server Dev ASSA Gateway (HTTPS)
  - url: http://devmiddleware1.assa.id:6031
    description: Server Dev ASSA (Nginx Port 6031)
  - url: http://10.3.20.197:6031
    description: Server Dev ASSA (Nginx IP Internal)
  - url: http://localhost:8292
    description: Local Docker Compose (Direct Port 8292)

tags:
  - name: Vehicle
    description: Pencarian dan detail spesifikasi kendaraan
  - name: Health
    description: Probe liveness dan readiness container

paths:
  /api/vehicles/getByLicensePlate:
    get:
      tags:
        - Vehicle
      operationId: getVehicleByLicensePlate
      summary: Mengambil data kendaraan berdasarkan nomor plat / parameter pencarian
      description: |
        Mencari data kendaraan dan alokasi unit berdasarkan nomor polisi (`plate_no`).
        Jika request dikirim tanpa parameter pencarian sama sekali, service akan mengembalikan `400 Bad Request`.
        Memerlukan token terdaftar dengan scope `vehicles`.
      security:
        - bearerAuth:
            - vehicles
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: plate_no
          in: query
          required: false
          description: Nomor polisi kendaraan (pencarian parsial / LIKE)
          schema:
            type: string
            example: 'DD-8112'
        - name: licensePlate
          in: query
          required: false
          description: Alias legacy untuk parameter `plate_no`
          schema:
            type: string
            example: 'DD-8112'
        - name: equipment_no
          in: query
          required: false
          description: Nomor equipment unik kendaraan (exact match)
          schema:
            type: string
            example: '10027282'
        - name: branch_code
          in: query
          required: false
          description: Filter kode cabang
          schema:
            type: string
            example: '1411'
        - name: status_id
          in: query
          required: false
          description: Filter status unit kendaraan
          schema:
            type: integer
            example: 11
        - name: color
          in: query
          required: false
          description: Filter warna kendaraan
          schema:
            type: string
            example: 'WHITE'
        - name: limit
          in: query
          required: false
          description: Jumlah maksimal data yang dikembalikan
          schema:
            type: integer
            default: 20
            example: 20
        - name: offset
          in: query
          required: false
          description: Offset pagination data
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        '200':
          description: Data kendaraan berhasil ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/vehicles/vehicleatlas:
    get:
      tags:
        - Vehicle
      operationId: getVehicleAtlas
      summary: Endpoint alias / legacy Vehicle Atlas
      description: |
        Endpoint integrasi pencarian data armada untuk aplikasi ATLAS.
        Rute ini memanggil sequence domain yang sama dengan `/getByLicensePlate` dan dipertahankan untuk kompatibilitas.
      security:
        - bearerAuth:
            - vehicles
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: plate_no
          in: query
          required: false
          schema:
            type: string
            example: 'DD-8112'
        - name: equipment_no
          in: query
          required: false
          schema:
            type: string
            example: '10027282'
        - name: branch_code
          in: query
          required: false
          schema:
            type: string
            example: '1411'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Data kendaraan berhasil ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'

  /health/vehicle:
    get:
      tags:
        - Health
      operationId: getVehicleHealth
      summary: Health check liveness Vehicle Service
      description: Memeriksa apakah service WSO2 MI hidup dan responsif.
      security: []
      responses:
        '200':
          description: Service hidup (Liveness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /readiness/vehicle:
    get:
      tags:
        - Health
      operationId: getVehicleReadiness
      summary: Health check readiness Vehicle Service
      description: Memeriksa apakah service siap menerima traffic.
      security: []
      responses:
        '200':
          description: Service siap (Readiness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Masukkan Bearer Token aplikasi yang memiliki scope `vehicles` (misal Token App B atau QA).
        Token dibaca dari environment/secret lokal.

  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: ID korelasi unik untuk tracing log end-to-end
      schema:
        type: string
        maxLength: 128
        example: corr-vehicle-001

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ReadinessResponse:
      type: object
      required:
        - status
        - backend
        - timestamp
      properties:
        status:
          type: string
          example: READY
        backend:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: Bad Request
        detail:
          type: string
          example: Parameter plate_no or search query is required.
        transactionId:
          type: string
          nullable: true
          example: TRX-20260924150000001

    VehicleDataResponse:
      type: object
      properties:
        message:
          type: string
          example: success
        code:
          type: integer
          example: 200
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 20
        count:
          type: integer
          example: 1
        total:
          type: integer
          example: 1
        data:
          type: array
          items:
            $ref: '#/components/schemas/VehicleDetail'

    VehicleDetail:
      type: object
      properties:
        equipment_no:
          type: string
          example: '10027282'
        plate_no:
          type: string
          example: DD-8112-YC
        branch_code:
          type: string
          example: '1411'
        branch_name:
          type: string
          example: Makassar
        tipe_kendaraan:
          type: string
          example: DAIHATSU GRAN MAX BV AC AB 1.3 M/T
        unit_allocation:
          type: string
          example: LT
        status_id:
          type: integer
          example: 11
        color:
          type: string
          example: WHITE DSO
        production_year:
          type: integer
          example: 2018

  responses:
    BadRequest:
      description: Parameter pencarian tidak valid atau kosong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Token tidak ada, format salah, atau tidak terdaftar
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Token valid tetapi tidak memiliki scope `vehicles`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Backend FMS gagal merespons
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
