openapi: 3.0.3
info:
  title: Vendor Service API
  description: |
    API integrasi pembuatan master vendor ASSA (VMD Interface V2 XML -> FTP SAP) melalui WSO2 Integrator: MI.
    Sesuai standar `API_DEVELOPMENT_GUIDE.md` pada repository `wso2-mi-monorepo`.
  version: 1.0.0

servers:
  - url: https://devmiddleware1.assa.id
    description: Server Dev ASSA Gateway (HTTPS)
  - url: http://devmiddleware1.assa.id:6031
    description: Server Dev ASSA (Nginx Port 6031)
  - url: http://10.3.20.197:6031
    description: Server Dev ASSA (Nginx IP Internal)
  - url: http://localhost:8293
    description: Local Docker Compose (Direct Port 8293)

tags:
  - name: Vendor
    description: Registrasi dan sinkronisasi master data vendor
  - name: Health
    description: Probe liveness dan readiness container

paths:
  /api/vendors/create:
    post:
      tags:
        - Vendor
      operationId: createVendor
      summary: Registrasi master vendor baru (XML over FTP)
      description: |
        Menerima payload JSON 17 field master data vendor dari sistem client (ATLAS), 
        mengkonversinya menjadi dokumen XML standar SAP VMD, mencatat transaksi ke database MariaDB,
        dan mengunggah file XML ke server FTP Inbound SAP (`/vmd`).

        **Mekanisme Idempotency**:
        Sertakan header `X-Transaction-Id` (atau `X-Idempotency-Key`). Bila transaksi dengan ID yang sama
        sudah pernah sukses diproses, sistem akan mengembalikan status `200 OK` (Replay) dengan header
        `X-Idempotent-Replay: true` tanpa mengunggah ulang file ke FTP.
      security:
        - bearerAuth:
            - vendors
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/TransactionId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ForwardedFor'
        - name: X-File-Name
          in: header
          required: false
          description: Override opsional nama file XML target pada FTP
          schema:
            type: string
            example: VMD_CUSTOM_001.xml
      requestBody:
        required: true
        description: 17 Field Master Data Vendor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorCreateRequest'
      responses:
        '201':
          description: Vendor berhasil dibuat dan diunggah ke FTP
          headers:
            X-Transaction-Id:
              schema:
                type: string
            X-Correlation-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorSuccessResponse'
        '200':
          description: Idempotency Replay — transaksi sudah sukses sebelumnya
          headers:
            X-Idempotent-Replay:
              schema:
                type: boolean
                example: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          $ref: '#/components/responses/BadGateway'

  /health/vendor:
    get:
      tags:
        - Health
      operationId: getVendorHealth
      summary: Health check liveness Vendor Service
      description: Memeriksa apakah service WSO2 MI hidup dan responsif.
      security: []
      responses:
        '200':
          description: Service hidup (Liveness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /readiness/vendor:
    get:
      tags:
        - Health
      operationId: getVendorReadiness
      summary: Health check readiness Vendor Service
      description: Memeriksa kesiapan service dan konektivitas database / FTP.
      security: []
      responses:
        '200':
          description: Service siap (Readiness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Masukkan Bearer Token aplikasi yang memiliki scope `vendors` (misal Token QA).
        Token dibaca dari environment/secret lokal.

  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: ID korelasi unik untuk tracing log end-to-end
      schema:
        type: string
        maxLength: 128
        example: corr-vmd-001
    TransactionId:
      name: X-Transaction-Id
      in: header
      required: false
      description: ID unik transaksi untuk proteksi Idempotency Guard
      schema:
        type: string
        example: TRX-VMD-20260924-001
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      description: Alias alternatif untuk X-Transaction-Id
      schema:
        type: string
        example: TRX-VMD-20260924-001
    ForwardedFor:
      name: X-Forwarded-For
      in: header
      required: false
      description: Alamat IP client pemanggil (dicatat pada Header XML)
      schema:
        type: string
        example: 10.20.30.40

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ReadinessResponse:
      type: object
      required:
        - status
        - backend
        - timestamp
      properties:
        status:
          type: string
          example: READY
        backend:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: Bad Request
        detail:
          type: string
          example: Missing mandatory vendor fields.
        transactionId:
          type: string
          nullable: true
          example: TRX-20260924150000001

    VendorCreateRequest:
      type: object
      required:
        - companyTitle
        - companyName
        - otv
        - paymentCycle
        - accountNumber
        - accountName
        - bankName
        - hoEmail
        - hoPhone
        - hoAddress
        - contactName
        - contactPhone
        - npwp
        - accountGroup
        - top
        - glAccount
        - documentNumber
      properties:
        companyTitle:
          type: string
          description: Bentuk badan hukum (PT, CV, dll.)
          enum: [PT, CV, UD, PO, Yayasan, Koperasi, Perorangan]
          example: PT
        companyName:
          type: string
          description: Nama lengkap perusahaan vendor
          example: PT Adi Sarana Armada Tbk
        otv:
          type: string
          description: One Time Vendor flag
          enum: ["Yes", "No"]
          example: "No"
        paymentCycle:
          type: string
          description: Siklus pembayaran tagihan
          example: Monthly
        accountNumber:
          type: string
          description: Nomor rekening bank
          example: '1200010978489'
        accountName:
          type: string
          description: Nama rekening buku tabungan
          example: Robby Yulianto Setiawan
        bankName:
          type: string
          description: Nama bank rekanan
          example: Mandiri
        hoEmail:
          type: string
          format: email
          description: Email kantor pusat
          example: assa@assarent.co.id
        hoPhone:
          type: string
          description: Telepon kantor pusat
          example: '082246605199'
        hoAddress:
          type: string
          description: Alamat kantor pusat lengkap
          example: Jalan Nusa Indah 2 Block C.ext 8 no 7, Duri Kosambi, Jakarta Barat
        contactName:
          type: string
          description: Nama PIC vendor
          example: Robby Contact
        contactPhone:
          type: string
          description: Telepon PIC vendor
          example: '08224660189'
        npwp:
          type: string
          description: 16 digit NPWP
          example: '3173080209920003'
        accountGroup:
          type: string
          description: Grup akun SAP (V010, dll.)
          example: V010
        top:
          type: string
          description: Term of Payment SAP (T014, dll.)
          example: T014
        glAccount:
          type: string
          description: Nomor General Ledger SAP
          example: '2121000000'
        documentNumber:
          type: string
          description: Nomor referensi dokumen ATLAS
          example: VENDOR-ATLAS-000123

    VendorSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Vendor (VMD) accepted and delivered to FTP
        transactionId:
          type: string
          example: TRX-VMD-20260924-001
        fileName:
          type: string
          example: VMD_20260924153000_TRX-VMD-20260924-001.xml
        documentNumber:
          type: string
          example: VENDOR-ATLAS-000123

  responses:
    BadRequest:
      description: Parameter atau payload tidak valid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Token tidak ada atau salah
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Token valid tetapi tidak memiliki scope `vendors`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Transaksi dengan ID ini sedang diproses (409 Conflict)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Pengunggahan file ke FTP SAP gagal setelah proses retry
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
