openapi: 3.0.3
info:
  title: Branch Service API
  description: |
    API integrasi data kantor cabang ASSA dengan backend Core SAP melalui WSO2 Integrator: MI.
    Sesuai standar `API_DEVELOPMENT_GUIDE.md` pada repository `wso2-mi-monorepo`.
  version: 1.0.0

servers:
  - url: https://devmiddleware1.assa.id
    description: Server Dev ASSA Gateway (HTTPS)
  - url: http://devmiddleware1.assa.id:6031
    description: Server Dev ASSA (Nginx Port 6031)
  - url: http://10.3.20.197:6031
    description: Server Dev ASSA (Nginx IP Internal)
  - url: http://localhost:8290
    description: Local Docker Compose (Direct Port 8290)

tags:
  - name: Branch
    description: Pengambilan data kantor cabang ASSA
  - name: Health
    description: Probe liveness dan readiness container

paths:
  /api/branches/getByCreateDate:
    get:
      tags:
        - Branch
      operationId: getBranchByCreateDate
      summary: Mengambil data branch berdasarkan rentang tanggal pembuatan
      description: |
        Mengambil daftar cabang ASSA dari backend SAP Core berdasarkan rentang tanggal pembuatan (*create date*).
        Memerlukan token terdaftar dengan scope `branches`.
      security:
        - bearerAuth:
            - branches
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/CompanyCode'
        - $ref: '#/components/parameters/DateStart'
        - $ref: '#/components/parameters/DateEnd'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Request berhasil
          headers:
            X-Correlation-Id:
              schema:
                type: string
              description: ID pelacakan korelasi log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchQueryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'

  /health/branch:
    get:
      tags:
        - Health
      operationId: getBranchHealth
      summary: Health check liveness Branch Service
      description: Memeriksa apakah service WSO2 MI hidup dan responsif.
      security: []
      responses:
        '200':
          description: Service hidup (Liveness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /readiness/branch:
    get:
      tags:
        - Health
      operationId: getBranchReadiness
      summary: Health check readiness Branch Service
      description: Memeriksa apakah service siap menerima traffic.
      security: []
      responses:
        '200':
          description: Service siap (Readiness probe sukses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Masukkan Bearer Token aplikasi yang memiliki scope `branches` (misal Token App A).
        Token dibaca dari environment/secret lokal, jangan menaruh token nyata di spesifikasi.

  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: ID korelasi unik untuk tracing log end-to-end
      schema:
        type: string
        maxLength: 128
        example: corr-branch-001
    CompanyCode:
      name: companyCode
      in: query
      required: false
      description: Kode entitas perusahaan ASSA (default sequence bila kosong adalah 1000)
      schema:
        type: string
        example: '1000'
    DateStart:
      name: dateStart
      in: query
      required: false
      description: Tanggal awal pencarian (format YYYY-MM-DD)
      schema:
        type: string
        format: date
        example: '2020-01-01'
    DateEnd:
      name: dateEnd
      in: query
      required: false
      description: Tanggal akhir pencarian (format YYYY-MM-DD)
      schema:
        type: string
        format: date
        example: '2026-09-11'
    Page:
      name: page
      in: query
      required: false
      description: Halaman data pagination
      schema:
        type: integer
        default: 1
        example: 1
    PerPage:
      name: perPage
      in: query
      required: false
      description: Jumlah data per halaman
      schema:
        type: integer
        default: 10
        example: 10

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ReadinessResponse:
      type: object
      required:
        - status
        - backend
        - timestamp
      properties:
        status:
          type: string
          example: READY
        backend:
          type: string
          example: UP
        timestamp:
          type: string
          example: '2026-09-24T15:30:00'

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: Unauthorized
        detail:
          type: string
          example: Application does not have the required scope.
        transactionId:
          type: string
          nullable: true
          example: TRX-20260924150000001

    BranchQueryResponse:
      type: object
      description: Response payload data cabang dari backend SAP Core
      properties:
        success:
          type: boolean
          example: true
        total:
          type: integer
          example: 35
        page:
          type: integer
          example: 1
        perPage:
          type: integer
          example: 10
        data:
          type: array
          items:
            $ref: '#/components/schemas/BranchItem'

    BranchItem:
      type: object
      properties:
        branchCode:
          type: string
          example: '1101'
        branchName:
          type: string
          example: ASSA Sunter Head Office
        companyCode:
          type: string
          example: '1000'
        address:
          type: string
          example: Jl. Danau Sunter Barat Blok A No. 1
        createdDate:
          type: string
          example: '2020-05-12'

  responses:
    BadRequest:
      description: Request atau parameter tidak valid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Token tidak ada, format salah, atau tidak terdaftar
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Token valid tetapi scope tidak mencukupi (memerlukan scope branches)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Backend SAP gagal merespons setelah proses retry
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
